<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <File name="serverLogINFO" fileName="serverLogINFO.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="serverLogINFO" level="info"/>
        </Root>

    </Loggers>

</Configuration>